
.whatsapp-app {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 30%;
  min-width: 260px;
  max-width: 340px;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

.sidebar-header {
  height: 64px;
  background-color: #178f6b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user-list {
  flex: 1;
  overflow-y: auto;
}

.user-item {
  padding: 12px 15px;
  cursor: pointer;
  border-bottom: 1px solid #eee;

}

.user-item:hover {
  background-color: #eaeaea;
}

.user-item.active {
  background-color: #d9fdd3;
}

.user-item small {
  color: gray;
}

.chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #daccbf;
  position: relative;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

.emoji-picker {
  position: absolute;
  bottom: 70px;
  left: 10px;
  z-index: 1000;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  /* background-color: #e5ddd5;  */
  background: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-size: contain;          
  background-position: center;            
  background-attachment: fixed;    

}

.message-bubble {
  max-width: 70%;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  font-size: 14px;
  word-wrap: break-word;
}

.sent {
  align-self: flex-end;
  background-color: #dcf8c6;
  border-bottom-right-radius: 0;
}

.received {
  align-self: flex-start;
  background-color: #ffffff;
  border-bottom-left-radius: 0;
}

.align{
  display: flex;
  gap: 10px;
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.status-dot {
  margin-left: auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-self: flex-start;
}

.status-dot.online {
  background-color: #25d366;
}

/* .status-dot.offline {
  background-color: gray;
} */

