.whatsapp-app {
  display: flex; 
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 30%; 
  border-right: 1px solid white;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.chat-window {
  flex: 1; 
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 224, 205); }

.sidebar-header, .chat-header {
  height: 60px;
  background-color: #178f6b;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.user-item {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #f2f2f2;
}

.user-item.active {
  background-color: #ebebeb;
}

.chat-messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto; 
}

.chat-input {
  height: 60px;
  background-color: #f0f0f0;
  padding: 10px;
}
.chat-input input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
