.Design {  
    position: relative;
    left: 750px;
    top: 150px;
    height: fit-content;
    width: 450px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
}


