.DesignLogin{  
    position: relative;
    left: 790px;
    top: 190px;
    height: 550px;
    width: 450px;
    border: 2px solid black;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    background-color: white;
}

