
.Design
    {  
    position: relative;
    left: 797px;
    top: 200px;
    height: fit-content;
    width: fit-content;
    border: 2px solid black;
    border-radius: 2px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


